<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{ISO8601}}{black} %highlight{%-5level} [%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>

        <RollingFile name="InfoRollingFile"
                     fileName="/var/log/Jdbc_log/info1.log"
                     filePattern="/var/log/Jdbc_log/logs/$${date:yyyy-MM}/info-%d{-dd-MMMM-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Rollover daily -->
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <Filters>
                <ThresholdFilter level="info" onMatch="Accept" onMismatch="Deny" />
            </Filters>
        </RollingFile>

        <RollingFile name="ErrorRollingFile"
                     fileName="/var/log/Jdbc_log/error2.log"
                     filePattern="/var/log/Jdbc_log/logs/$${date:yyyy-MM}/error-%d{-dd-MMMM-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Rollover daily -->
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="InfoRollingFile" />
            <AppenderRef ref="ErrorRollingFile" />
        </Root>


        <Logger name="com.atdxt.Multi_logging" level="info" additivity="false">
            <AppenderRef ref="InfoRollingFile" />
        </Logger>

        <!-- Log "com.atdxt.dbconnection" at ERROR level to error.log -->
        <Logger name="com.atdxt.Multi_logging" level="error" additivity="false">
            <AppenderRef ref="ErrorRollingFile" />
        </Logger>
    </Loggers>
</Configuration>

